@media(max-width:992px){

.hero{
flex-direction:column;
text-align:center;
}

.hero-content,
.hero-image{
width:100%;
}

.features,
.category-grid,
.product-grid,
.why-grid{
grid-template-columns:repeat(2,1fr);
}

.footer{
grid-template-columns:1fr;
}

}

@media(max-width:768px){

.topbar{
display:none;
}

.header{
flex-direction:column;
gap:15px;
padding:20px;
}

.search-box{
width:100%;
}

.navbar ul{
flex-wrap:wrap;
justify-content:center;
gap:15px;
}

.hero{
padding:30px;
}

.hero-content h1{
font-size:35px;
}

.features,
.category-grid,
.product-grid,
.why-grid{
grid-template-columns:1fr;
}

.categories,
.featured,
.why{
padding:30px;
}

.deal{
margin:20px;
padding:40px 20px;
}

.deal h1{
font-size:35px;
}
}